.all {
  background-color: #046380;
  padding-left: 12%;
  padding-right: 12%;
  position: relative;
  background-image: url(milkway.jpg);
}
h1 {
  font-family: 'Audiowide', cursive;
  background-color: #EF6F46;
  border-radius: 10px;
  width: 30em;
  text-align: center;
  content-right: -100em;
}
header img{
  width: 500%;
  height: auto;
  position-right: relative;
}
.card-container {
  height: 150px;
  perspective: 600;
  position: relative;
  width: 150px;
}
@-webkit-keyframes rotating  {
  from {
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
.card {
  -webkit-animation: rotating 4s linear infinite;
  -moz-animation: rotating 4s linear infinite;
  -ms-animation: rotating 4s linear infinite;
  -o-animation: rotating 4s linear infinite;
  animation: rotating 4s linear infinite;
}
.card .side {
  backface-visibility: hidden;
  height: 20%;
  position: absolute;
  width: 20%;
}
.card-container {
  position: relative; top: 80px; left: 800px;
}
#myTable {
  background-color: #046380;
  border-radius: 10px;
  width: 60em;
  float: center;
}
fieldset {
  background-color: #046380;
  border-radius: 5px;
  display: block;
  width: 8em;
  margin-top: 10px;
  top: 20px;
  width: 58em;
  text-align: center;
  float: center;
}
.title {
  font-family: 'Ubuntu', sans-serif;
}
